name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: python

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: apt-get install git
      
      - name: Install Python dependencies
        run: python3 -m pip install build pytest
      
      - name: Install Python dev dependencies
        run: python3 -m pip install .

      - name: Build
        run: bash make_distrib.sh

      - name: Run tests
        run: bash run_tests.sh

      # - name: Publish package to TestPyPI
      #   uses: pypa/gh-action-pypi-publish@release/v1
      #   with:
      #     user: __token__
      #     password: ${{ secrets.PYPI_TEST_API_TOKEN }}
      #     repository_url: https://test.pypi.org/legacy/

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.11
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
